<div class="mx-auto ms-lg-80 ps-lg-4">
  <section>
    <div class="p-8 bg-white navbar-light">
      <div class="row align-items-center justify-content-between">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item" aria-current="page">
                <a class="d-flex align-items-center" href="#">
                  <svg
                    class="text-primary me-2"
                    width="20"
                    height="20"
                    viewbox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16.8737 16.875V9.02647C16.8737 8.93939 16.8555 8.85327 16.8202 8.77363C16.785 8.694 16.7335 8.6226 16.6691 8.56402L10.4187 2.88159C10.3036 2.77699 10.1537 2.71904 9.99821 2.71904C9.84272 2.71905 9.69281 2.77701 9.57777 2.88162L3.3282 8.56402C3.26377 8.6226 3.2123 8.69399 3.17707 8.77363C3.14185 8.85326 3.12366 8.93937 3.12366 9.02645V16.875"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M1.24866 16.875H18.7487"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M11.8732 16.8743V12.4993C11.8732 12.3336 11.8073 12.1746 11.6901 12.0574C11.5729 11.9402 11.4139 11.8743 11.2482 11.8743H8.74817C8.58241 11.8743 8.42344 11.9402 8.30623 12.0574C8.18902 12.1746 8.12317 12.3336 8.12317 12.4993V16.8743"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                  <span>Delivery Notes</span>
                </a>
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-12 col-lg-6 d-flex">
          <a
            class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 ms-lg-auto me-2 shadow rounded-2"
            href="#"
            style="width: 40px; height: 40px">
            <svg
              width="12"
              height="12"
              viewbox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M5.4375 9.375C7.61212 9.375 9.375 7.61212 9.375 5.4375C9.375 3.26288 7.61212 1.5 5.4375 1.5C3.26288 1.5 1.5 3.26288 1.5 5.4375C1.5 7.61212 3.26288 9.375 5.4375 9.375Z"
                stroke="#7A899B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M8.22156 8.22189L10.4997 10.5"
                stroke="#7A899B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
          <a
            class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 me-2 shadow rounded-2"
            href="#"
            style="width: 40px; height: 40px">
            <svg
              width="12"
              height="12"
              viewbox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2.12974 8.29964C1.57041 7.35675 1.37453 6.2421 1.57887 5.165C1.78322 4.0879 2.37374 3.12245 3.23955 2.44994C4.10535 1.77742 5.18688 1.4441 6.28105 1.51257C7.37522 1.58104 8.40676 2.04659 9.18197 2.8218C9.95718 3.597 10.4227 4.62854 10.4912 5.72271C10.5597 6.81688 10.2264 7.89841 9.55386 8.76422C8.88135 9.63003 7.9159 10.2206 6.8388 10.4249C5.76171 10.6293 4.64706 10.4334 3.70416 9.87406L3.70417 9.87401L2.14931 10.3183C2.08498 10.3366 2.01691 10.3375 1.95214 10.3207C1.88738 10.3039 1.82828 10.2701 1.78097 10.2228C1.73366 10.1755 1.69986 10.1164 1.68308 10.0516C1.6663 9.98687 1.66714 9.9188 1.68552 9.85447L2.12977 8.29961L2.12974 8.29964Z"
                stroke="#7A899B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
          <a
            class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 me-2 shadow rounded-2"
            href="#"
            style="width: 40px; height: 40px">
            <svg
              width="10"
              height="12"
              viewbox="0 0 10 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4 11H6"
                stroke="#7A899B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M1.6988 4.14999C1.69819 3.73489 1.78393 3.32378 1.95108 2.94036C2.11823 2.55694 2.36348 2.20879 2.6727 1.91598C2.98192 1.62317 3.34899 1.39148 3.75275 1.23429C4.15651 1.07709 4.58897 0.997483 5.02522 1.00006C6.84554 1.01294 8.30157 2.45262 8.30157 4.18953V4.49999C8.30157 6.06693 8.64611 6.9762 8.94956 7.47317C8.98225 7.52627 8.99965 7.58663 8.99999 7.64817C9.00034 7.70971 8.98362 7.77025 8.95153 7.82368C8.91944 7.87711 8.87311 7.92155 8.81721 7.9525C8.76131 7.98346 8.69783 7.99984 8.63315 8H1.36685C1.30217 7.99984 1.23867 7.98345 1.18277 7.95249C1.12686 7.92153 1.08053 7.87708 1.04844 7.82364C1.01636 7.7702 0.999648 7.70965 1.00001 7.64811C1.00036 7.58656 1.01777 7.52619 1.05048 7.47309C1.3541 6.97611 1.69879 6.06685 1.69879 4.49999L1.6988 4.14999Z"
                stroke="#7A899B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <h1>Delivery Notes</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input
            type="date"
            id="fromDate"
            class="form-control"
            placeholder="From date" />
          <input
            type="date"
            id="toDate"
            class="form-control"
            placeholder="To date" />
          <button id="goButton" class="btn btn-primary" onclick="updateTable('<%= JSON.stringify(dnotes) %>')">Go</button>
        </div>
      </div>
      <div class="col-md-2">
        <input
          type="text"
          id="searchInput"
          class="form-control"
          placeholder="Search..." />
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary mt-3">
          <i class="fas fa-cog"></i> Generate Report
        </button>
      </div>
    </div>
    <br />

    <table class="table" id="delivery-notes-table">
      <thead class="table-primary">
        <tr>
          <th>No.</th>
          <th>Unit</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="productTableBody">
        <!-- Example row with a hyperlink -->
        <% if (dnotes) { %> <% for (let dat of dnotes) { %>
        <tr>
          <td><a href="#"><%= dat.despatchnoteno %></a></td>
          <td><%= dat.unit.name %></td>
          <td><%= moment(dat.despatchdate).format('DD/MM/YY') %></td>
          <td>
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasWithBothOptions"
              aria-controls="offcanvasWithBothOptions" onclick="openViewModal('<%= dat.despatchnoteno %>','<%= dat.despatchdate %>','<%= dat.unit.name %>','<%= dat.unit.province %>','<%= dat.unit.contactperson %>', '<%=  JSON.stringify(dat.despatchitems) %>')">
              <i class="fas fa-eye"></i>
              <!-- Font Awesome eye icon -->
            </button>
          </td>
        </tr>
        <% } %><% } %>
       
        <!-- Add more rows with hyperlinks as needed -->
      </tbody>
    </table>

    <div
      class="offcanvas offcanvas-end"
      style="width: 60%"
      data-bs-scroll="true"
      tabindex="-1"
      id="offcanvasWithBothOptions"
      aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div
          class="embed-responsive embed-responsive-16by9"
          style="height: 794px">
          <div class="container my-5">
            <div class="text-center">
                <img src="sirius-assets/images/logos/sirius-logo.png" alt="Logo" style="max-width: 150px;">
                <h3 class="text-center mb-4">Delivery Note</h3>
              </div>
            
            <div class="row">
                <div class="col-md-6" id="dd1">
                  
                </div>
                <div class="col-md-6 text-end" id="dd2">
                h
                </div>
              </div>
            <table class="table table-borderedless">
                <thead class="table-primary">
                <tr>
                  <th>Product ID</th>
                  <th>Description</th>
                  <th>Unit Measure</th>
                  <th>Qty Ordered</th>
                  <th>Qty Received</th>
                </tr>
              </thead>
              <tbody id="dd4">
               
               
              </tbody>
            </table>
            <br></br>
            <div class="row">
                <div class="col-md-6 text-start">
                  <p><b>Agrifora Representative:</b></p>
                  <div class="text-start">
                    <img src="sirius-assets/images/logos/sirius-logo.png" alt="Agrifora Represantative's ID" style="max-width: 200px;">
                  </div>
                </div>
                <div class="col-md-6 text-end" id="dd3">
                 
                </div>
              </div>
          </div>
        </div>
        <!-- Print and Save buttons -->
        <div>
          <button class="btn btn-primary me-2" onclick="window.print()">
            Print
          </button>
          <button class="btn btn-success">Save</button>
        </div>
        <!-- End of Print and Save buttons -->
      </div>
    </div>
  
    <!-- Footer container -->
    <div class="main-footer">
      <span>&copy; 2023. Agrifora Management System. All Rights Reserved.</span>
      <span
        >Created by:
        <a href="http://soxfort.com" target="_blank"
          >Soxfort Solutions | Intuitive Innovation</a
        ></span
      >
    </div>
    <!-- main-footer -->
  </div>

  <script src="js/bootstrap/bootstrap.bundle.min.js"></script>

  <script>
       function formatDate(dateString) {
  const date = new Date(dateString);
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, "0");
  const day = String(date.getDate()).padStart(2, "0");
  return `${day}/${month}/${year}`;
  }
     function updateTable(params) {
             const tableBody = document.getElementById("productTableBody");
             const fromDate = document.getElementById("fromDate").value;
   const toDate = document.getElementById("toDate").value;
             let dispatchArray = JSON.parse(params);
             if(fromDate && toDate){
   tableBody.innerHTML = ""; // Clear the table body
   
   dispatchArray.forEach((movement) => {
    let d1 = new Date(movement.despatchdate)
    let d2 = new Date(fromDate)
    let d3 = new Date(toDate)
     if( d1 >= d2 && d1 <= d3){
     const row = document.createElement("tr");
     const formattedDate = formatDate(movement.despatchdate);
    
     
       row.innerHTML = `
       <td><a href="#">${movement.despatchnoteno}</a></td>
          <td>${movement.unit.name}</td>
          <td>${formattedDate}</td>
          <td>
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasWithBothOptions"
              aria-controls="offcanvasWithBothOptions" onclick="openViewModal1('${movement.despatchnoteno}','${movement.despatchdate}','${movement.unit.name}','${movement.unit.province}','${movement.unit.contactperson}')">
              <i class="fas fa-eye"></i>
              <!-- Font Awesome eye icon -->
            </button>
          </td>
   `;
     
     tableBody.appendChild(row);
                  
                  }
   });
  } else {
     // Display a message or handle the case when either fromDate or toDate is empty
     window.alert("Please select both From Date and To Date.");
   }
   
  }
  
    function openViewModal(dnoteno,dnotedate,unitname,unit_province,unit_contact_person, despatchitemsJSON) {
 console.log(unitname)

  const dd1 = document.getElementById('dd1');
  const dd2 = document.getElementById('dd2');
  const dd3 = document.getElementById('dd3');
  const dd4 = document.getElementById('dd4');

  dd1.innerHTML = ``
  dd1.innerHTML = `<h5>Delivered by:</h5>
                  <p>Agrifora (Pvt) Ltd<br>
                    28A Woodholme Rd<br>
                  Harare<br>
                  Delivery No. <span style="color: red;"><b>${dnoteno}</b></span></p>
        
                  <p>Date: ${dnotedate}</p>`
          
  dd2.innerHTML = ``
  dd2.innerHTML = `  <h5>Delivered to:</h5>
                  <p>ZNA :<br>
                  Unit : ${unitname}<br>
                  Location: ${unit_province}<br>
                  Delivery Point: ${unitname}</p>`
  dd3.innerHTML = ``
  dd3.innerHTML = ` <p><b>Received by and on behalf of ZNA</b><p>
                 <p> ${unit_contact_person}<br>
                  Unit : ${unitname}<br>
                  Location: ${unit_province}<br>
                  Delivery Point: ${unitname}<br>
                  <p>Date: ${dnotedate}</p>`
  
  let despatchitems = JSON.parse(despatchitemsJSON)                    
  dd4.innerHTML = ``
  let count =1;
  dd4.innerHTML = ``;
          despatchitems.forEach((product) => {
            
                 dd4.innerHTML += `
                 <tr>
              <td>${count}</td>
              <td>${product.product.name}</td>
              <td>${product.product.measureunit.symbol}</td>
              <td>${product.quantity}</td>
              <td>${product.received}</td>
                 </tr>
                 
                 `;
           
                count +=1
           
             });
            }
            function openViewModal1(dnoteno,dnotedate,unitname,unit_province,unit_contact_person) {


  const dd1 = document.getElementById('dd1');
  const dd2 = document.getElementById('dd2');
  const dd3 = document.getElementById('dd3');
  const dd4 = document.getElementById('dd4');

  dd1.innerHTML = ``
  dd1.innerHTML = `<h5>Delivered by:</h5>
                  <p>Agrifora (Pvt) Ltd<br>
                    28A Woodholme Rd<br>
                  Harare<br>
                  Delivery No. <span style="color: red;"><b>${dnoteno}</b></span></p>
        
                  <p>Date: ${dnotedate}</p>`
          
  dd2.innerHTML = ``
  dd2.innerHTML = `  <h5>Delivered to:</h5>
                  <p>ZNA :<br>
                  Unit : ${unitname}<br>
                  Location: ${unit_province}<br>
                  Delivery Point: ${unitname}</p>`
  dd3.innerHTML = ``
  dd3.innerHTML = ` <p><b>Received by and on behalf of ZNA</b><p>
                 <p> ${unit_contact_person}<br>
                  Unit : ${unitname}<br>
                  Location: ${unit_province}<br>
                  Delivery Point: ${unitname}<br>
                  <p>Date: ${dnotedate}</p>`
                  dd4.innerHTML = ``
                  fetch("/get-dnotes", {
      method: "POST",
      body: JSON.stringify({}),
      headers: {
        "Content-type": "application/json; charset=UTF-8",
      },
    }).then(function (response) {
      response.json().then(function (text) {
 
  let despatchitems = text.dnotes        
  let count =1;
  dd4.innerHTML = ``;
          despatchitems.forEach((products) => {
            if(products.despatchnoteno == dnoteno){
                products.despatchitems.forEach((product) => {
                 dd4.innerHTML += `
                 <tr>
              <td>${count}</td>
              <td>${product.product.name}</td>
              <td>${product.product.measureunit.symbol}</td>
              <td>${product.quantity}</td>
              <td>${product.received}</td>
                 </tr>
                 
                 `;
           
                count +=1
                })
                }
             });

            })})
            }
            
       
  </script>
</div>
